#gnb > ul{
    display: flex;
    position: fixed;
    top: 3vh;
    left: 50vw;
    transform: translateX(-50%);
    z-index: 999;
}

#gnb > ul > li:not(:last-child){
    margin-right: 20px;
}

#gnb > ul > li > a{
    color: #fff;
    font-size: 5vw;
    font-family: 'Playfair Display', serif;    
}

#gnb > ul > li:first-child > a{
    color: #FF0000;
}

#gnb > ul > li > a:hover{
    font-weight: 600;
}

#gnb .border{
    position: fixed;
    top: 8vh;
    left: 50vw;
    transform: translateX(-50%);
    background-color: #fff;
    width: 80vw;
    height: 5px;
    z-index: 999;
}

#home{
    width: 100vw;
    height: 100vh;
    background-color: #252C65;
    overflow: hidden;
    padding: 0;
}

#particles-js{ 
    width: 100%;
    height: 100%;
    background-color: #252c65; 
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}


#home .title .circle{
    border: 3px solid #fff;
    width: 90vw;
    height: 90vw;
    border-radius: 50%;
    margin: 0 auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

#home .title .circle > img{
    position: absolute;
    width: 70vw;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 50;
    animation-name: circle-deco;
    animation-duration: 4s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
}

@keyframes circle-deco {
    from{
        top: 50%;
        left: 50%;
        transform-origin : 50%,50%;
        transform: translate(-50%,-50%) rotate(0deg);
    }

    to{
        top: 50%;
        left: 50%;
        transform-origin : 50%,50%;
        transform: translate(-50%,-50%) rotate(360deg);
    }
}

#home .title .circle2{
    width: 80vw;
    height: 80vw;
    border-radius: 50%;
    background-color: #fff;
    margin: 0 auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%,-55%);
}

#home .title .circle2 > img{
    width: 70vw;
}

#home .title .circle2 > p{
    font-size: 12vw;
    font-family: 'Playfair Display', serif;    
    color: #252C65;
    font-weight: 600;
}

#about{
    width: 100vw;
    height: 100%;
    position: relative;
    padding-bottom: 20px;
}

section .title{
    display: flex;
    align-items: flex-end;
    padding-left: 10px;
}

section{
    padding-top: 80px;
    overflow: hidden;
}

section .title div > p{
    font-family: 'Playfair Display', serif;    
    font-size: 10vw;
    font-weight: 600;
    color: #252C65;
}

section .title div:first-child > p{
    font-size: 20vw;
}

section .title div:not(:first-child){
    padding-bottom: 15px;
}

#about .title div:nth-child(6){
    margin-left: 10px;
}

section .title_border{
    background-color: #252C65;
    width: 60vw;
    height: 5px;
}


#about .container{
    margin-top: 4vh;
    display: flex;
    flex-direction: column;
    padding: 0 50px;
    align-items: center;
    justify-content: center;
}

#about .container > img{
    width: 45vw;
    height: 45vw;
    margin-bottom: 5vh;
}

#about .container > .text-box{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
}

#about .container > .text-box > div > h3{
    font-size: 20px;
    font-family: 'Playfair Display', serif;
    margin-bottom: 5px;
}

#about .container > .text-box > .profile > h3{
    width: 65px;
    border-top: 3px solid #252C65;
}

#about .container > .text-box > .license > h3{
    width: 75px;
    border-top: 3px solid #252C65;
}

#about .container > .text-box > .skills > h3{
    width: 53px;
    border-top: 3px solid #252C65;
}


#about .container > .text-box .profile{
    margin-bottom: 3vh;
    margin-right: 2.9vw;
}


#about .container > .text-box .profile > table th{
    font-size: 3vw;
    font-weight: 400;
    text-align: left;
    padding-right: 18px;
    padding-bottom: 5px;
}

#about .container > .text-box .profile > table td{
    font-size: 2.5vw;
    font-weight: 400;
}

#about .container > .text-box .license > ul{
    padding-left: 10px;
}

#about .container > .text-box .license > ul > li:not(:last-child){
    list-style-image: url(../images/list-deco.svg);
    font-size: 3vw;
    margin-bottom: 15px;
}

#about .container > .text-box .license > ul > li:nth-child(3){
    margin-bottom: 0;
}

#about .container > .text-box .license > ul > li:last-child{
    font-size: 2vw;
}

#about .skills .skill-box{
    display: flex;
}

#about .skills .skill-box > div{
    position: relative;
}

#about .skills .skill-box > div:not(:last-child){
    margin-right: 10px;
}

.skills .skill-box strong {
    position:absolute; 
    top:50%; 
    left:50%;
    transform: translate(-50%, -50%);
    font-size:2.5vw;
    font-family: 'Playfair Display', serif;    
}

.skills .skill-box > div:nth-child(1) > strong, .skills .skill-box > div:nth-child(3) > strong {
    font-size:4vw;
}




/* works */

#works{
    width: 100vw;
    height: 100vh;
    background-color: #252C65;
    position: relative;
}

#works .title p{
    color: #fff;
}

#works .title_border{
    background-color: #fff;
}

#works .category{
    padding-left: 5px;
    position: relative;
    z-index: 999;
}

#works .category button{
    color: #fff;
    background-color: transparent;
    border: none;
    font-family: 'Playfair Display', serif;    
    font-size: 4vw;
    font-weight : 600;
    margin-top: 5px;
    padding-bottom: 10px;
}


#works .category button:hover{
    color: #FF0000;
    cursor: pointer;
}


#works .category button.on{
    color: #FF0000;
    background-image: url(../images/check.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}


#works .category button:not(:last-child){
    margin-right: 15px;
}


#works > button{
    z-index: 5;
}


#works .contents {
    width: 100vw;
    height: 100%;
    overflow: hidden;
    display: none;
}

#works .contents.on{
    display: block;
    position: absolute;
    top: 30%;
}


#works .contents .slide{
    width: 10000px;
    display: flex;
    transition: all 0.4s;
}


#works .contents .slide > div{
    width: 100vw;
    height: 60vh;
    position: relative;
    overflow: hidden;
    margin-top: 50px;
}


#works .slide .container {
    width: 100vw;
    display: flex;
    flex-direction: column;
    z-index: 99;
    position: absolute;
    justify-content: center;
}


#works .box_group{
    width: 100%;
    position: absolute;
    top: 3vh;
}

#works .bg_box.bg_box:nth-child(1),#works .bg_box.bg_box:nth-child(3){
    display: none;
}

#works .bg_box{
    width: 100%;
    height: 12vh;
    opacity: 0;
}

#works .bg_box.on{
    animation-name: box_deco;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

#works .website-content:nth-child(1) .bg_box{    
    background-color: #FD9347;
}

#works .website-content:nth-child(2) .bg_box{    
    background-color: #12006E;
}

#works .website-content:nth-child(3) .bg_box{    
    background-color: #ED008C;
}

#works .mobile-content:nth-child(1) .bg_box{    
    background-color: #7031FF;
}

#works .mobile-content:nth-child(2) .bg_box{    
    background-color: #699181;
}

#works .responsive-content:nth-child(1) .bg_box{    
    background-color: #E31D1A;
}

#works .responsive-content:nth-child(2) .bg_box{    
    background-color: #1269CD;
}


#works .bg_box:nth-child(2){
    animation-delay: 0.3s;
}

#works .bg_box:nth-child(3){
    animation-delay: 0.6s;
}

@keyframes box_deco {
    from{
        width: 0;
        opacity: 0;
    }
    to{
        width: 100%;
        opacity: 1;

    }
}


#works #responsive .images > img{
    width: 50vw;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 0;
}

#works #website .images > img{
    width: 50vw;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: -10px;
}

#works #mobile .images > img{
    width: 22vw;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: -10px;
}

#works .container .images > h3{
    display: none;
}

#works .container .text{
    width: 90vw;
    height: 38vh;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 50px;
    padding: 30px;
    display: block;
    font-size: 1.8vw;
    position: absolute;
    top: 22vh;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    flex-direction: column;
    justify-content: center;
}


#works .container .text h4{
    font-size: 3vw;
    font-weight: 700;
    color: #252C65;
    margin-bottom: 3px;
}

#works .container .text div:not(:first-child) h4{
    margin-top: 1.5vh;
}

#works .container .text .use_skill .skill_box {
    display: flex;
}

#works .container .text .use_skill .skill_box > p:first-child{
    margin-right: 30px;
}

#works .container .text .info-2{
    display: flex;
}

#works .container .text .info-2 .date{
    margin-right: 20px;
    white-space: nowrap;
}

#works .container .text .info-2 .color > div{
    display: flex;
}

#works .container .text .info-2 .color > div > p{
    display: block;
    padding: 3px;
    text-align: center;
    color: #fff;
}

#works .website-content:nth-child(1) .text .color > div > p:nth-child(1){
    background-color: #FD9347;
    color: #fff;
}

#works .website-content:nth-child(1) .text .color > div > p:nth-child(2){
    background-color: #FEC9A3;
    color: #fff;
}

#works .website-content:nth-child(1) .text .color > div > p:nth-child(3){
    background-color: #DBEBC4;
    color: #000;
}

#works .website-content:nth-child(1) .text .color > div > p:nth-child(4){
    background-color: #333;
    color: #fff;
}

#works .website-content:nth-child(2) .text .color > div > p:nth-child(1){
    background-color: #12006E;
}

#works .website-content:nth-child(2) .text .color > div > p:nth-child(2){
    background-color: #F45B5B;
}

#works .website-content:nth-child(2) .text .color > div > p:nth-child(3){
    background-color: #FFAF7B;
}

#works .website-content:nth-child(2) .text .color > div > p:nth-child(4){
    background-color: #000000;
    color: #fff;
}

#works .website-content:nth-child(3) .text .color > div > p:nth-child(1){
    background-color: #ED008C;
}

#works .website-content:nth-child(3) .text .color > div > p:nth-child(2){
    background-color: #FFCA00;
}

#works .website-content:nth-child(3) .text .color > div > p:nth-child(3){
    background-color: #232323;
}

#works .website-content:nth-child(3) .text .color > div > p:nth-child(4){
    background-color: #333333;
}

#works .mobile-content:nth-child(1) .text .color > div > p:nth-child(1){
    background-color: #7031FF;
}

#works .mobile-content:nth-child(1) .text .color > div > p:nth-child(2){
    background-color: #FF75AC;
}

#works .mobile-content:nth-child(1) .text .color > div > p:nth-child(3){
    background-color: #F8F8F9;
    color: #000;
}

#works .mobile-content:nth-child(1) .text .color > div > p:nth-child(4){
    background-color: #999999;
    color: #000;
}

#works .mobile-content:nth-child(2) .text .color > div > p:nth-child(1){
    background-color: #084A1F;
}

#works .mobile-content:nth-child(2) .text .color > div > p:nth-child(2){
    background-color: #BED5C9;
    color: #000;
}

#works .mobile-content:nth-child(2) .text .color > div > p:nth-child(3){
    background-color: #699181;
    color: #fff;
}

#works .mobile-content:nth-child(2) .text .color > div > p:nth-child(4){
    background-color: #F1EFEB;
    color: #000;
}

#works .responsive-content:nth-child(1) .text .color > div > p:nth-child(1){
    background-color: #E31D1A;
}

#works .responsive-content:nth-child(1) .text .color > div > p:nth-child(2){
    background-color: #F7941D;
}

#works .responsive-content:nth-child(1) .text .color > div > p:nth-child(3){
    background-color: #005842;
    color: #fff;
}

#works .responsive-content:nth-child(1) .text .color > div > p:nth-child(4){
    background-color: #FFFFFF;
    color: #000;
}

#works .responsive-content:nth-child(2) .text .color > div > p:nth-child(1){
    background-color: #1269CD;
}

#works .responsive-content:nth-child(2) .text .color > div > p:nth-child(2){
    background-color: #072242;
}

#works .responsive-content:nth-child(2) .text .color > div > p:nth-child(3){
    background-color: #154A88;
    color: #fff;
}

#works .responsive-content:nth-child(2) .text .color > div > p:nth-child(4){
    background-color: #FFFFFF;
    color: #000;
}


#works .text .btn-group{
    display: flex;
    justify-content: center;
    margin-top: 25px;
}

#works .text .btn-group > button{
    width: 30vw;
    height: 6vh;
    border-radius: 30px;
    font-size: 3vw;
    font-weight: 500;
    border: none;
}

#works .text .btn-group > button:first-child{
    background-color: #252C65;
    color: #fff;
}

#works .text .btn-group > button:last-child{
    border: 3px solid #252C65;
    background-color: transparent;
}


#works .text .btn-group > button:hover{
    font-size: 20px;
    cursor: pointer;
}

#works .webpage{
    margin-right: 50px;
}


#mobile .webpage{
    background-color: #252C65;
    color: #fff;
    margin: 0;
    padding: 0;
}

#works .bg_black{
    width: 100vw;
    height: 100vh;
    background-color: rgba(0,0,0,0.5);
    position: absolute;
    top: 0;
    z-index: 999;
    display: none;
}

#works .bg_black.on{
    display: block;
}

#works .workdetail > div{
    width: 80vw;
    height: 100vh;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9999;
    overflow: scroll;
    text-align: center;
    display: none;
}

#works .workdetail > div.on{
    display: block;
}


#works .workdetail > div > img{
    width: 100%;
}


#mobile .webpage{
    margin-right: 0;
}

#works .contents > button{
    border: none;
    background: transparent;
    position: absolute;
    z-index: 99;
    top: 12vh;
}

#works .contents > button > img{
    width: 12vw;
}

#works .contents > button:hover{
    cursor: pointer;
}

#works .contents > .prev{
    left: 15px;
    z-index: 999;
}

#works .contents > .next{
    right: 15px;
    z-index: 999;
}


#contact{
    width: 100vw;
    height: 100vh;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    overflow: hidden;
}

#contact .logo{
    position: absolute;
    top: 15vh;
    left: 3vw;
}

#contact .logo > img{
    height: 15vh;
}

#contact > h3{
    font-size: 20vw;
    color: #252C65;
    font-family: 'Playfair Display', serif;    
    font-weight: 500;
}

#contact .contact_border{
    display: flex;
    flex-direction: column;
    align-items: center;
    animation-name: contact_border;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
}

@keyframes contact_border {
    0%{
        transform: translateY(0);
    }
    
    30%{
        transform: translateY(0);
    }

    50%{
        transform: translateY(20px);
    }

    100%{
        transform: translateY(0px);
    }
    
}

#contact .contact_border .border{
    width: 3px;
    height: 8vh;
    background-color: #252C65;
    margin-bottom: 10px;
    margin-top: 10px;

}

#contact .contact_border .circle{
    width: 5vw;
    height: 5vw;
    border-radius: 50%;
    background-color: #252C65;
}

#contact .text-box{
    font-size: 5vw;
    color: #252C65;
    font-family: 'Playfair Display', serif;    
    font-weight: 400;
    text-align: center;
    margin-top: 35px;
}

#contact .text-box > p:first-child{
    margin-bottom: 5px;
}

#contact .text-box > p:last-child{
    margin-top: 20px;
    font-size: 8vw;
}

#contact .border-deco {
    position: absolute;
    bottom: -35vh;
}

#contact .border-deco > div:first-child{
    position: absolute;
    height: 900px;
    width: 3px;
    background-color: #252C65;
    transform: rotate(50deg);
    right: -100px;
    bottom: -125px;
    animation-name: border_deco;
    animation-duration: 1s;
}


#contact .border-deco > div:nth-child(2){
    position: absolute;
    height: 900px;
    width: 5px;
    background-color: #252C65;
    transform: rotate(50deg);
    right: -100px;
    bottom: -150px;
}

#contact .border-deco > div:nth-child(3){
    position: absolute;
    height: 900px;
    width: 8px;
    background-color: #252C65;
    transform: rotate(50deg);
    right: -100px;
    bottom: -165px;
}

#contact .border-deco > div:last-child{
    width: 900px;
    height: 900px;
    background-color: #252C65;
    transform: rotate(50deg);
    position: absolute;
    bottom: -550px;
    right: -800px;
}